{% extends "layout.html" %}

{% block content %}

<form action="{{url_for('ForgetPassword')}}" method="post">
    <h1 style="text-align:center;">FORGET PASSWORD</h1>
    <h2>Credentials</h2>
    <label for="email"><br>Enter your email:</label><br>
    <input type="email" id="email" name="email" placeholder="me@example.org"><br><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="Enter your Username" required><br><br>
    <hr>
    <h2>Reset Password</h2>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Create New Password"><br><br>
    <label for="confirmpassword">Confirm Password:</label><br>
    <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password"><br><br>
    <input type="submit" value="Submit">
</form>


    {% endblock %}
